In [13]:
import pandas as pd
import numpy as np

In [3]:
weekly_est_cases_deaths = pd.read_csv("data/weekly_est_cases_deaths.csv")

In [50]:
total_weekly_us_cases = weekly_est_cases_deaths[['est_inf','new_cases_jhu']].groupby(weekly_est_cases_deaths['date']).sum()
total_weekly_us_cases.reset_index(level=0, inplace=True)
total_weekly_us_cases[['est_inf','new_cases_jhu']] = total_weekly_us_cases[['est_inf','new_cases_jhu']].fillna(0)
total_weekly_us_cases['est_inf'] = total_weekly_us_cases['est_inf'].astype(int)
total_weekly_us_cases.replace(0, np.nan, inplace=True) 

total_weekly_us_cases.tail()

          date    est_inf  new_cases_jhu
38  2020-11-28  2706958.0        1140004
39  2020-12-05  2873802.0        1342672
40  2020-12-12  2503651.0        1486604
41  2020-12-19        NaN        1506649
42  2020-12-26        NaN        1321660

In [47]:
total_weekly_us_cases.rename(columns={'date': 'Date','new_cases_jhu': 'JHU Reported Infections', 'est_inf': 'Estimated Actual Infections'}, inplace=True)

In [48]:
total_weekly_us_cases

          Date  Estimated Actual Infections  JHU Reported Infections
0   2020-03-07                       114994                      357
1   2020-03-14                       580279                     2391
2   2020-03-21                      1893803                    22916
3   2020-03-28                      2983066                    98588
4   2020-04-04                      2745200                   187972
5   2020-04-11                      2660639                   218546
6   2020-04-18                      2173432                   202208
7   2020-04-25                      1954023                   208228
8   2020-05-02                      1636227                   193885
9   2020-05-09                      1392773                   176801
10  2020-05-16                      1057260                   158327
11  2020-05-23                      1028218                   154571
12  2020-05-30                       904464                   147140
13  2020-06-06                       796815                   145734
14  2020-06-13                       803729                   147533
15  2020-06-20                       879982                   179485
16  2020-06-27                      1219904                   254153
17  2020-07-04                      1279831                   330926
18  2020-07-11                      1393068                   404792
19  2020-07-18                      1631598                   462511
20  2020-07-25                      1510200                   463656
21  2020-08-01                      1555125                   440036
22  2020-08-08                      1471005                   372601
23  2020-08-15                      1273214                   359341
24  2020-08-22                      1183799                   303571
25  2020-08-29                      1025348                   291590
26  2020-09-05                      1085937                   288160
27  2020-09-12                      1130569                   238802
28  2020-09-19                       986596                   279848
29  2020-09-26                      1077918                   303770
30  2020-10-03                       902328                   299089
31  2020-10-10                      1039462                   337168
32  2020-10-17                      1026157                   386222
33  2020-10-24                      1343431                   476513
34  2020-10-31                      1369389                   557531
35  2020-11-07                      1714905                   796300
36  2020-11-14                      1620638                  1020817
37  2020-11-21                      2381741                  1189209
38  2020-11-28                      2706958                  1140004
39  2020-12-05                      2873802                  1342672
40  2020-12-12                      2503651                  1486604
41  2020-12-19                            0                  1506649
42  2020-12-26                            0                  1321660