In [13]:
import pandas as pd
import numpy as np

In [3]:
weekly_est_cases_deaths = pd.read_csv("data/weekly_est_cases_deaths.csv")

In [34]:
total_weekly_us_cases = weekly_est_cases_deaths[['est_inf','new_cases_jhu']].groupby(weekly_est_cases_deaths['date']).sum()
total_weekly_us_cases.reset_index(level=0, inplace=True)
total_weekly_us_cases.replace(0, np.nan, inplace=True) 
#total_weekly_us_cases['est_inf'] = weekly_est_cases_deaths['est_inf'].astype('Int64')
total_weekly_us_cases.rename(columns={'date': 'Date','new_cases_jhu': 'JHU Reported Infections', 'est_inf': 'Estimated Actual Infections'}, inplace=True)

In [35]:
total_weekly_us_cases

          Date  Estimated Actual Infections  JHU Reported Infections
0   2020-03-07                          588                      357
1   2020-03-14                        10955                     2391
2   2020-03-21                         8382                    22916
3   2020-03-28                        10955                    98588
4   2020-04-04                        10955                   187972
5   2020-04-11                        15661                   218546
6   2020-04-18                        18235                   202208
7   2020-04-25                        17205                   208228
8   2020-05-02                        14852                   193885
9   2020-05-09                        10147                   176801
10  2020-05-16                        18308                   158327
11  2020-05-23                        17205                   154571
12  2020-05-30                        10735                   147140
13  2020-06-06                        16764                   145734
14  2020-06-13                        22867                   147533
15  2020-06-20                        32279                   179485
16  2020-06-27                        38602                   254153
17  2020-07-04                        35808                   330926
18  2020-07-11                        36323                   404792
19  2020-07-18                        38382                   462511
20  2020-07-25                        31250                   463656
21  2020-08-01                        28970                   440036
22  2020-08-08                        25661                   372601
23  2020-08-15                        26911                   359341
24  2020-08-22                        23676                   303571
25  2020-08-29                        18382                   291590
26  2020-09-05                        19338                   288160
27  2020-09-12                         9044                   238802
28  2020-09-19                        22426                   279848
29  2020-09-26                        26029                   303770
30  2020-10-03                        14558                   299089
31  2020-10-10                        16838                   337168
32  2020-10-17                        25073                   386222
33  2020-10-24                        28529                   476513
34  2020-10-31                        32647                   557531
35  2020-11-07                        16911                   796300
36  2020-11-14                        44852                  1020817
37  2020-11-21                        33088                  1189209
38  2020-11-28                        42500                  1140004
39  2020-12-05                        43823                  1342672
40  2020-12-12                          NaN                  1486604
41  2020-12-19                          NaN                  1506649
42  2020-12-26                          294                  1321660